iframe {
  display: none;
}

.tab-link {
  display: block;
  width: 100%;
  height: 100%;
}

.react-tabs__tab {
  position: relative;
}

.react-tabs__tab .tab-link {
  display: block;
  width: 100%;
  height: 100%;
}
